body {
  background: rgba(168, 188, 174, 0.8);
}

.other-pages {
  background: #003837;
  display: flex;
  justify-content: center;
}

.other-page-element {
  color: #fff;
  padding: 10px 100px;
  text-decoration: none;
}

.other-page-element:hover {
  color: #cdaeac;
}

.heading {
  color: #003837;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

.address {
  color: #003837;
  font-size: 25px;
  text-align: center;
  margin-top: 0;
}

p {
  font-size: 20px;
}

.site-button {
  display: flex;
  justify-content: center;
}

.wedding-site {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #003837;
  padding: 10px 10px;
  margin-bottom: 15px;
}

.wedding-site:hover {
  background: #003837;
  border: 1px solid #003837;
  color: #fff;
}

footer {
  background: #003837;
  padding: 10px 20px;
}

.contact-info {
  color: #fff;
}

.platform {
  color: #fff;
}

.contact-links {
  color: #a8bcae;
}

.link-element {
  color: #cdaeac;
  text-decoration: none;
}
